  <HTML>
    <BODY>
      <Left>
         
      #set( $count = 1 )  
      <TABLE>
        #foreach( $mail in $mailList )
          <TR>            
            <TD>$mail.Zero</TD>           
          </TR>
           <BR/>
          <TR>            
            <TD>$mail.First</TD>           
          </TR>
             <BR/>
          
            <BR/>    
           <TR>
            <TD>$mail.Third</TD>
          </TR>
                   
          <TR>
            <TD>$mail.Four</TD>            
          </TR>
                         
          #set( $count = $count + 1 )
        #end
      </TABLE>     
    
      </Left>
 
    </BODY>